@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif ;
}

/* font-family: 'Josefin Sans', sans-serif ; */


html {
  /*  10px / 1rem  */
  font-size: 62.5%;   
}



/* Navbar */

/* Sidebar */
.sidebar {
  width: 8rem;
  height: 100vh;
  background-color: #eee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icon:hover .line{
  width: 2.5rem;
}

.line {
  height: .2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: .6rem;
}

.line-1 , .line-3 {
  width: 1.8rem;
  transition: all .4s;
}

.social-icons-list {
  list-style: none;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color: #777;
  transition: color .3s;
}


.social-link:hover {
  color: #deaa86;
}


.year {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #555;
}
/*End Sidebar */

/* Navigation */

.navigation {
  position: fixed;
  left: -32rem;
  width: 40rem;
  height: 100%;
  background-image: linear-gradient(to top , rgba(34,32,41,1), rgba(34,32,41,.8)) , url(../images/nav-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left .8s;
  z-index: 50;
}

.checkbox:checked ~ .navigation {
  left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-5px,6px);
  width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-5px,-6px);
  width: 2.5rem;
}

.navigation-header {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-heading {
  font-family: 'Josefin Sans', sans-serif ;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  color: #deaa86;
  text-align: center;
}

.navigation-search{
  position: relative;
}

.navigation-search-input {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, .3);
  font-family: 'Josefin Sans', sans-serif ;
  font-size: 1.6rem;
  color:#deaa86 ;
  letter-spacing: .1rem;
  outline: none;
  border: .1rem solid #555;
  border-radius: 10rem;
  transition:background-color .3s ;
}

.navigation-search-input:focus{
  background-color: rgba(0,0,0,.1);
}

.navigation-search-btn {
  border: none;
  background-color: transparent;
  color: #deaa86;
  font-size: 1.7rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.navigation-search-btn:focus{
  outline: none;
}

.navigation-list{
  list-style: none;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .3s;
}

.navigation-link::before{
  content: '';
  width: 0;
  height: .1rem;
  background-color: #deaa86;
  position: absolute;
  top: 1rem;
  left: -4rem;
  transition: width .5s cubic-bezier(1,0,0,1);
}


.navigation-link::after{
  content: '';
  width: 0;
  height: .1rem;
  background-color: #deaa86;
  position: absolute;
  top: 1rem;
  right: -4rem;
  transition: width .5s cubic-bezier(1,0,0,1);
}

.navigation-link:hover{
  color: #deaa86;
}

.navigation-link:hover::before ,
.navigation-link:hover::after {
  width: 3rem;
}


.copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* End Navigation */

/*End Navbar */


/* Header */

.header {
  margin-left: 8rem;
  height: 100vh;
  background-image:linear-gradient(to top , rgba(0,0,0,.6),rgba(0,0,0,.5)) ,url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.brand img {
  height: 10rem;
  width: 10rem;
}

.hotel-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: .2rem;
}

.banner {
  color: #ddd;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 400;
}

.banner-paragraph {
  font-size: 3.5rem;
  font-weight: 300;
}

.banner-button {
  width: 21rem;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-top: 1.7rem;
  letter-spacing: .1rem;
  border: .1rem solid #deaa86;
  background-color: transparent;
  outline: none;
  background: linear-gradient(to right,#deaa86,#f29c5f);
  cursor: pointer;
}

.banner-button:hover {
  background: linear-gradient(to left,#deaa86,#ec9557);
}

.banner-button:active {
  transform: translateY(.1rem);
}


/* End Header */

/* About Us */

.about-us {
  margin-left: 8rem;
  display: flex;
  background-color: #ddd;
}

.about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.about-us-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
}


.small-underline {
  width: 9rem;
  height: .1rem;
  margin: 3rem auto 1rem auto;
  background-color:#b85d1c ;
}

.big-underline {
  width: 20rem;
  height: .1rem;
  background-color:#b85d1c ;
}

.sub-heading {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 3rem;
  letter-spacing: .2rem;
  color: #b85d1c;
}

.about-us-paragraph {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.about-us-btn {
  width: 15rem;
  padding: .7rem .5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  outline: none;
  text-transform: uppercase;
  border: none;
  color: #b85d1c;
  background-color: transparent;
  border: .1rem solid #b85d1c;
  cursor: pointer;
}

.btn-arrow {
  margin-left: .5rem;
  transition: margin-left .5s;
}

.about-us-btn:hover .btn-arrow {
  margin-left: 1.5rem;
}

.about-us-images {
  flex: 1 1 ;
  position: relative;
}

.image {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
  border-radius: .4rem;
  border: .2rem solid #b85d1c;
}

.image-1 {
  transform: translate(-20%,-90%);
}

.image-2 {
  transform: translate(-70%,-70%);
}

.image-3 {
  transform: translate(-50%,-50%);
}

.image-4 {
  transform: translate(-30%,-30%);
}

/* End About Us */

/* Common Header */

.common-header {
  padding: 5rem;
  text-align: center;
  color: #b85d1c;
}

.common-heading {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: .2rem;
}

.small-underline {
  width: 9rem;
  height: .1rem;
  margin: 3rem auto 1rem auto;
  background-color:#b85d1c ;
}

.big-underline {
  width: 20rem;
  height: .1rem;
  margin: auto;
  background-color:#b85d1c ;
}

/* End Common Header */


/*  Rooms  */

.rooms {
  margin-left: 8rem;
}

.rooms-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  width: 60rem;
  margin: 5rem;
  background-color: #15141b;
  box-shadow: 0 3rem 6rem rgba(0 , 0 , 0 , .3 );
}

.room-img {
  width: 100%;
  height: 65%;
}

.room-card-content {
  color: #ddd;
  padding: 2rem;
}

.room-card-heading {
  font-size: 3rem;
  font-weight: 300;
}

.room-card-paragraph {
  font-size: 1.5rem;
  color: #777;
}

.room-price {
  font-size: 5rem;
  font-weight: 300;
  text-align: right;
}

.room-card-btn {
  width: 15rem;
  padding: 1.5rem 1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  outline: none;
  text-transform: uppercase;
  border: none;
  color: #b85d1c;
  background-color: transparent;
  border: .1rem solid #b85d1c;
  cursor: pointer;
  border-radius: 10rem;
}

.rooms-btn-wrapper {
  text-align: center;
}

.rooms-btn {
  width: 20rem;
  padding: 1.5rem 1rem;
  margin: 4rem 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #b85d1c;
  outline: none;
  border: .2rem solid #b85d1c;
  cursor: pointer;
  box-shadow: 0 1.5rem 6rem rgba(0 , 0 , 0 , .2);
  transition:all .2s;
}

.rooms-btn:hover {
  color: #ddd;
  background-color: #b85d1c;
}

/* End Rooms  */

/* Footer */

.footer {
  margin-left: 8rem;
}

.main-part {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  padding: 4rem;
}

.footer-heading {
  font-size: 2.5rem;
  font-weight: 300;
  color: goldenrod;
  margin: 1rem 0 3rem 0;
}

.footer-list {
  list-style: none;

}

.footer-list-item {
  margin-bottom: 2rem;
}

.footer-list-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #bbb;
}

.contact p {
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 4rem;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 25rem;
  padding: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  color: #444;
  outline: none;
}

.footer-btn {
  padding: 1rem;
  background-color: #b85d1c;
  color: #ddd;
  border: none;
  cursor: pointer;
}

.gallery {
  max-width: 45rem;
}

.image-wrapper {
  width: 12rem;
  margin: .4rem;
  overflow: hidden;
}

.footer-image {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all .5s;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.footer-image:hover {
  transform: scale(1.3);
  opacity: .8;
}

.creator-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 0 4rem;
  height: 7rem;
}

.copyright-text {
  font-size: 1.3rem;
  color: #aaa;
}
/* End Footer */


/* Media Screen */

@media(max-width: 1400px) {
  .main-part {
    flex-direction: column;
  }
  .footer-list {
    display: flex;
  }

  .footer-list-item {
    margin-right: 3rem;
  }
}

@media(max-width: 1200px) {

  .about-us {
    flex-direction: column;
    padding-bottom: 25rem;
  }

  .about-us-content{
    margin-bottom: 13rem;
  }

  .image {
    width: 25rem;
  }
}

@media(max-width: 993px) {
  .banner{
    text-align: center;
  }

  .banner-heading {
    font-size: 4.7rem;
  }

  .banner-paragraph {
    font-size: 2.6rem;
  }

  .banner-button {
    width: 16rem;
    font-size: 1.5rem;
  }

}


@media(max-width: 750px) {

  .footer-list {
    display: block;
  }

  .banner {
    text-align: center;
  }

  .banner-heading {
    font-size: 3.5rem;
  }

  .banner-paragraph {
    font-size: 2.1rem;
  }

  .room-card-heading{
    font-size: 2.5rem;
  }

  .room-price {
    font-size: 2.5rem;

  }

  .common-heading {
    font-size: 3rem;
  }


}

@media(max-width: 600px){
  .room-card-btn{
    width: 13rem;
    font-size: 1.1rem;
    padding: .7rem .5rem;
  }
}

@media(max-width: 570px) {
  .room-card {
    height: calc(100% / 4);
  }


  .room-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

}

@media(max-width: 500px){
  .navigation {
    width: 28rem;
  }

  .navigation-search-input {
    width: 23rem;
  }

  .image {
    width: 18rem;
  }

  .footer-input {
    width: 16rem;
    font-size: 1.4rem;
  }

  .banner-heading {
    font-size: 2.1rem;
  }

}


@media(max-width: 520px){
  .about-us-heading {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 2.5rem;
  }

  .about-us-content {
    text-align: center;
    padding: 3rem;
  }

  .banner-heading {
    font-size: 3rem;
  }


}
